<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.telink.ble.mesh.demo">

    <!-- Request legacy Bluetooth permissions on older devices. -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- Needed only if your app looks for Bluetooth devices.
         You must add an attribute to this permission, or declare the
         ACCESS_FINE_LOCATION permission, depending on the results when you
         check location usage in your app. -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <!-- Needed only if your app makes the device discoverable to Bluetooth
         devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />

    <!-- Needed only if your app communicates with already-paired Bluetooth
         devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!--QRCode-->
    <uses-permission android:name="android.permission.CAMERA" />
    <!--  download/upload  -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.telink.ble.mesh.TelinkMeshApplication"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.telink.ble.mesh.ui.CmdActivity"
            android:exported="true"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.MainActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.DeviceProvisionActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.DeviceAutoProvisionActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.DeviceSettingActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.DeviceOtaActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.LogActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.telink.ble.mesh.ui.KeyBindActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.ModelSettingActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.telink.ble.mesh.ui.GroupSettingActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.ColorPanelActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.SchedulerSettingActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.SchedulerListActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.SceneSettingActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.SceneListActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.ModelListActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.SettingsActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.ShareActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.TipsActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.JsonPreviewActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.DebugActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.LpnSettingActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.RemoteProvisionActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.MeshOTAActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.telink.ble.mesh.ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="fullSensor"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.telink.ble.mesh.ui.FastProvisionActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.qrcode.QRCodeShareActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.qrcode.QRCodeScanActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.telink.ble.mesh.ui.file.FileSelectActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.telink.ble.mesh.ui.file.FileSearchActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.telink.ble.mesh.ui.CompositionDataActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.telink.ble.mesh.ui.OOBInfoActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.telink.ble.mesh.ui.OOBEditActivity" />
        <activity
            android:name="com.telink.ble.mesh.ui.test.OnOffTestActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.telink.ble.mesh.ui.test.ConnectionTestActivity" />
        <activity android:name="com.telink.ble.mesh.ui.NodeNetKeyActivity" />
        <activity android:name="com.telink.ble.mesh.ui.MeshInfoActivity" />
        <activity android:name="com.telink.ble.mesh.ui.SubnetBridgeActivity" />
        <activity android:name="com.telink.ble.mesh.ui.BridgingTableAddActivity" />

    </application>

</manifest>